
//Color Palette
$white          : #ffffff;
$black          : #0f0f0f;
$grey			: #e0e0e0;
$blue			: #300cdc;
$red            : #d50000;


//Typography
$fontfamily       : 'Calibre-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$regular    : 'Calibre-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bold       : 'Calibre-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;


//Breakpoints
$bp-medium		: 800px;
$bp-large		: 1100px;




