//CSS Reset - http://meyerweb.com/eric/tools/css/reset/ 
@import "reset";

//Susy - http://susy.oddbird.net/
@import "susy";

$susy: (
	flow: ltr,
	math: fluid,
	output: float,
	gutter-position: inside,
	container: fluid,
	container-position: center,
	columns: 12,
	gutters: 1/4,
	column-width: false,
	global-box-sizing: content-box,
	last-flow: to,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	use-custom: (
		background-image: true,
		background-options: false,
		box-sizing: true,
		clearfix: false,
		rem: true,
	)
);

//Typography
// @font-face {
// 	font-family: 'Calibre-Bold';
// 	src: url('../fonts/CalibreWeb-Bold.eot'),
// 	url('../fonts/CalibreWeb-Bold.woff'),
// 	url('../fonts/CalibreWeb-Bold.woff2');
// }
 
// @font-face {font-family: 'Calibre-Regular';
// 	src: url('../fonts/CalibreWeb-Regular.eot'),
// 	url('../fonts/CalibreWeb-Regular.woff'),
// 	url('../fonts/CalibreWeb-Regular.woff2');
// }

//Core 
@import "variables";
@import "mixins";
@import "base";
@import "layout";

//Import Components
@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/journal-article";

//Import Routes
@import "routes/index";



/* Makes border-box properties */
@include border-box-sizing;

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	@include container;
	padding:0 1rem;

	@include susy-breakpoint($bp-large, $susy) {
		 // padding:0 2rem;
	}
}

